{% extends 'base.html' %}


{% block head %}
<title>Un-Literally</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}


{% block body %}

<div class="name">
    
    <h1 style="text-align: center; color: #297400; font-family: Arial; font-weight: bold;">Un-Literally</h1>
    <h2 style="text-align: center; color: #297400; text-decoration: underline; font-family: Arial; font-weight: bold;">Add new user</h2>

</div>

<div>

    <hr>
    
    <form action="/admin_register" method="POST">
        <div class="container_row">
            <div class="item">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" class="login_input" placeholder="Username" required>
                <br><br>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" minlength="5" class="login_input" style="margin-left: 18px;" placeholder="Password" required>
                <br><br>
                <label for="role">Role:</label>
                <select name="role" id="role">
                    <option value="ProUser">ProUser</option>
                    <option value="PlainUser">PlainUser</option>
                </select>
                <br><br>
            </div>
        </div>
        <div class="button-container">
            <input type="submit" value="Sign up" class="accept_button button-large">
        </div>
    </form>

    <div class="container_column">
        <button class="back_button" onclick="window.location='/menu'">Back</button>
    </div>

    <div class="item" style="flex-grow: 2;">
        {% if session.username_used %}
            <p>Username already used</p>
        {% endif %}
    </div>
        
    <div class="user-dropdown-container">
        <button class="user-icon" onclick="toggleDropdown()">
            <i class="fas fa-user"></i>
        </button>

        <div id="user-dropdown" class="user-dropdown">
            <button onclick="window.location='/edit_account'">
                <i class="fas fa-user-edit"></i> Edit Account
            </button>
            <button onclick="window.location='/logout'">
                <i class="fas fa-sign-out-alt"></i> Log out
            </button>
        </div>
    </div>

    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('user-dropdown');
            dropdown.classList.toggle('show');
        }
    </script>

</div>

{% endblock %}