{% extends 'base2.html' %}

{% block head %}
<title>Un-Literally</title>
<style>
  body {
    background-color: #ffffff; /* Ustaw jednolite białe tło strony */
  }

  table {
    border-collapse: collapse; /* Upewnij się, że granice tabeli nie nachodzą na siebie */
    width: 100%; /* Szerokość tabeli na całą stronę */
  }
  
  th, td {
    text-align: left; /* Tekst w tabeli wyrównany do lewej */
    border: 1px solid #297400; /* Dodaj widoczne pionowe linie */
    padding: 8px; /* Dodaj odstęp dla czytelności */
  }

  th {
    background-color: #f2f2f2; /* Lekko inny kolor tła dla nagłówków */
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
  }

  .pagination li {
    margin: 0 5px;
  }

  .pagination a {
    text-decoration: none;
    padding: 10px 15px;
    color: #297400; /* Kolor zielony dla tekstu przycisków */
    border: 1px solid #297400;
    border-radius: 4px;
  }

  .pagination a:hover {
    background-color: #297400;
    color: #ffffff;
  }

  .pagination .active a {
    background-color: #297400;
    color: #ffffff;
    pointer-events: none;
  }

  .back_button {
    background-color: #297400;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 15px 0;
  }

  .back_button:hover {
    background-color: #225c00;
  }
</style>
{% endblock %}


{% block body %}
<div class="name">
  <h1 style="text-align: center; color: #297400; font-family: Arial; font-weight: bold;">Un-Literally</h1>
  <h2 style="text-align: center; color: #297400; text-decoration: underline; font-family: Arial; font-weight: bold;">Menu</h2>
</div>
<div style="text-align: center;">
    <button class="back_button" onclick="window.location='/menu'">Back</button>
</div>
{% endblock %}

{% block content %}
  <div class="container">
    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th>Content</th>
          <th>Searched</th>
          <th>Definition</th>
          <th>Last search</th>
          <th>LWD</th>
          <th>LWL</th>
          <th>Source</th>
          <th>Added by</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/words_data',
        dom: 'ltip',
        columns: [
          {data: 'content', orderable: false, searchable: false},
          {data: 'searched', searchable: false},
          {data: 'definition', orderable: false, searchable: false},
          {data: 'last_search', orderable: false, searchable: false},
          {data: 'last_as_word_of_the_day', orderable: false, searchable: false},
          {data: 'last_as_word_of_literally', orderable: false, searchable: false},
          {data: 'source', orderable: false, searchable: false},
          {data: 'added_by', orderable: false, searchable: false}
        ],
        pagingType: "simple_numbers", // Typ paginacji
      });
    });
  </script>
{% endblock %}
