{% extends 'base.html' %}

{% block head %}
<title>Un-Literally</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .label-top-align {
        vertical-align: top;
        display: inline-block;
        margin-top: 7px;
    }
</style>
{% endblock %}

{% block body %}

<div class="name">
    <h1 style="text-align: center; color: #297400; font-family: Arial; font-weight: bold;">Un-Literally</h1>
    <h2 style="text-align: center; color: #297400; text-decoration: underline; font-family: Arial; font-weight: bold;">All Proposals</h2>
</div>

<div>
    <hr>
    <div class="container_row">

        {% if proposals|length < 1 %}
            <h4 style="text-align: center;">There are no proposals to consider</h4>
        {% else %}
            <table>
                <tr>
                    <th>Proposal</th>
                    <th>Description</th>
                    <th>Date of creation</th>
                    <th>Actions</th>
                </tr>
                {% for proposal in proposals %}
                    <tr>
                        <td>{{ proposal.name }}</td>
                        <td>{% if proposal.reasoning|length > 150 %}
                                {{ proposal.reasoning[:150] + ' ...' }}
                            {% else %}
                                {{ proposal.reasoning }}
                            {% endif %}
                        </td>
                        <td>{{ proposal.date.date() }}</td>
                        <td>
                            <a href="/show/proposal_{{proposal.id}}">Show</a>
                            <br>
                            <a href="/delete/proposal_{{proposal.id}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

</div>

<div class="container_column">
    <button class="back_button" onclick="window.location='/menu'" style="margin-left: 10px;">Back</button>
</div>

<div class="user-dropdown-container">
    <button class="user-icon" onclick="toggleDropdown()">
        <i class="fas fa-user"></i>
    </button>

    <div id="user-dropdown" class="user-dropdown">
        <button onclick="window.location='/edit_account'">
            <i class="fas fa-user-edit"></i> Edit Account
        </button>
        <button onclick="window.location='/logout'">
            <i class="fas fa-sign-out-alt"></i> Log out
        </button>
    </div>
</div>

<script>
    function toggleDropdown() {
        const dropdown = document.getElementById('user-dropdown');
        dropdown.classList.toggle('show');
    }
</script>

{% endblock %}
