{% extends 'base.html' %}


{% block head %}
    <title>Un-Literally</title>
{% endblock %}


{% block body %}

<div class="menu_header">
    <h1 style="text-align: center; color: #297400; font-family: Arial; font-weight: bold;">Un-Literally</h1>
    <h2 style="text-align: center; color: #297400; text-decoration: underline; font-family: Arial; font-weight: bold;">Analysis module menu</h2>
</div>

<div class="name">
    <hr>
    <p>Number of words starting with each letter</p>
    <button class="menu_button" onclick="window.location='/word_starting_with'">Chart 1</button>
    <br><br>
    <p>Number of words added by users</p>
    <button class="menu_button" onclick="window.location='/unique_added_by_count'">Chart 2</button>
    <br><br>
    <p>Top 10 most searched words</p>
    <button class="menu_button" onclick="window.location='/top_10_most_searched'">Chart 3</button>
    <br><br>
    <p>10 latest words of the day</p>
    <button class="menu_button" onclick="window.location='/top_10_latest_words_of_the_day'">Chart 4</button>
    <br><br>
    <p>10 latest words of literally</p>
    <button class="menu_button" onclick="window.location='/top_10_latest_words_of_literally'">Chart 5</button>
    <br><br>
    <p>10 latest searched</p>
    <button class="menu_button" onclick="window.location='/top_10_latest_searched'">Chart 6</button>
    <br><br>
    <p>Searched words per day 17</p>
    <button class="menu_button" onclick="window.location='/searched_words_per_day_17'">Chart 7</button>
    <hr>
    <button type="button" class="back_button" onclick="window.location='/menu'">Back</button>
    <br><br>
</div>

</div>
{% endblock %}