{% extends 'base.html' %}

{% block head %}
<title>Un-Literally</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .label-top-align {
        vertical-align: top;
        display: inline-block;
        margin-top: 7px;
    }

    .toggle-container {
        position: relative;
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 60%;
        margin: 20px auto;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #e74c3c;
        color: white;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    .button-container {
        text-align: center;
        margin: 15px 0;
    }

    .letter-input {
        width: 50px;
        height: 50px;
        font-size: 24px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-right: 10px;
        box-sizing: border-box;
    }

    .letter-input:disabled {
        background-color: #e0e0e0;
    }

    .center-inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 15px;
    }

</style>
{% endblock %}

{% block body %}

<div class="name">
    <h1 style="text-align: center; color: #297400; font-family: Arial; font-weight: bold;">Un-Literally</h1>
    <h2 style="text-align: center; color: #297400; text-decoration: underline; font-family: Arial; font-weight: bold;">Big search</h2>
</div>

<form action="/big_search" method="POST">

    <div>
        <hr>
        <div class="button-container">
            <button type="button" class="button" onclick="toggleField('lettersWordInclude')">Letters word include filter</button>
        </div>
        <div id="lettersWordInclude" class="toggle-container" style="display: none;">
            <p>Type all the letters that you think are in the word</p>
            <p>[!] Letters should be separated by a dash '-' [!]</p>
            <label for="includeFilter">Filter:</label>
            <input type="text" name="includeFilter" id="includeFilter" class="login_input">
            <button type="button" class="close-btn" onclick="closeField('lettersWordInclude')">X</button>
        </div>

        <div class="button-container">
            <button type="button" class="button" onclick="toggleField('lettersNotInWord')">Letters not in word filter</button>
        </div>
        <div id="lettersNotInWord" class="toggle-container" style="display: none;">
            <p>Type all the letters you think are not in the word</p>
            <p>[!] Letters should be separated by a dash '-' [!]</p>
            <label for="notInWordFilter">Filter:</label>
            <input type="text" name="notInWordFilter" id="notInWordFilter" class="login_input">
            <button type="button" class="close-btn" onclick="closeField('lettersNotInWord')">X</button>
        </div>

        <div class="button-container">
            <button type="button" class="button" onclick="toggleField('lettersOnPlace')">Letters exactly on place word filter</button>
        </div>
        <div id="lettersOnPlace" class="toggle-container" style="display: none;">
            <p>Type all the letters you know the position of in the word</p>
            <p>[!] In places where you don't know the letter, put a dash '-' [!]</p>
            <label>Filter:</label>
            <div class="center-inputs">
                <!-- Input fields for each letter position -->
                <input type="text" name="exactPlaceFilter1" id="exactPlaceFilter1" class="letter-input" maxlength="1">
                <input type="text" name="exactPlaceFilter2" id="exactPlaceFilter2" class="letter-input" maxlength="1" disabled>
                <input type="text" name="exactPlaceFilter3" id="exactPlaceFilter3" class="letter-input" maxlength="1" disabled>
                <input type="text" name="exactPlaceFilter4" id="exactPlaceFilter4" class="letter-input" maxlength="1" disabled>
                <input type="text" name="exactPlaceFilter5" id="exactPlaceFilter5" class="letter-input" maxlength="1" disabled>
            </div>
            <button type="button" class="close-btn" onclick="closeField('lettersOnPlace')">X</button>
        </div>

        <div class="button-container">
            <input type="submit" value="Get data" class="accept_button button-large">
        </div>
    </div>
</form>

<hr>
{% if x %}
    <p style="text-align: center;color: red;">Filters are empty!</p>
{% endif %}

<div class="button-container">
    <button type="button" class="back_button" onclick="window.location='/menu'">Back</button>
</div>

<div class="user-dropdown-container">
    <button class="user-icon" onclick="toggleDropdown()">
        <i class="fas fa-user"></i>
    </button>

    <div id="user-dropdown" class="user-dropdown">
        <button onclick="window.location='/edit_account'">
            <i class="fas fa-user-edit"></i> Edit Account
        </button>
        <button onclick="window.location='/logout'">
            <i class="fas fa-sign-out-alt"></i> Log out
        </button>
    </div>
</div>


<script>
    document.getElementById("content").addEventListener("input", function () {
        const input = this.value.trim();
        const errorSpan = document.getElementById("wordError");

        if (input.length !== 5) {
            errorSpan.textContent = "Word must be exactly 5 characters.";
            errorSpan.style.display = "block";
        } else {
            errorSpan.textContent = "";
            errorSpan.style.display = "none";
        }
    });
    
    function toggleDropdown() {
        const dropdown = document.getElementById('user-dropdown');
        dropdown.classList.toggle('show');
    }

    function toggleField(fieldId) {
        const field = document.getElementById(fieldId);
        const inputs = field.querySelectorAll('input[type="text"]');

        if (field.style.display === "none") {
            field.style.display = "block";

            inputs.forEach(input => {
                input.disabled = false;
                input.setAttribute('required', 'required');
            });

        } else {
            field.style.display = "none";
            inputs.forEach(input => {
                input.removeAttribute('required');
            });
        }
    }

    function closeField(fieldId) {
        const field = document.getElementById(fieldId);
        const inputs = field.querySelectorAll('input[type="text"]');

        inputs.forEach(input => {
            input.value = "";
            input.disabled = true;
            input.removeAttribute('required');
        });
        field.style.display = "none";
    }

    document.addEventListener('DOMContentLoaded', function () {
        const inputFields = [
            document.getElementById('exactPlaceFilter1'),
            document.getElementById('exactPlaceFilter2'),
            document.getElementById('exactPlaceFilter3'),
            document.getElementById('exactPlaceFilter4'),
            document.getElementById('exactPlaceFilter5')
        ];

        inputFields.forEach((field, index) => {
            field.addEventListener('input', function () {
                if (field.value.length === 1 && index < inputFields.length - 1) {
                    inputFields[index + 1].disabled = false;
                    inputFields[index + 1].focus();
                }
            });

            field.addEventListener('keydown', function (event) {
                if (event.key === 'Backspace' && field.value.length === 0 && index > 0) {
                    inputFields[index - 1].focus();
                }
            });
        });
    });
</script>

{% endblock %}