{% extends 'base.html' %}

{% block head %}
<title>Un-literally</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}

{% block body %}

<div class="name">
    <h1 style="text-align: center; color: #297400; font-family: Arial; font-weight: bold;">Un-Literally</h1>
    <h2 style="text-align: center; color: #297400; text-decoration: underline; font-family: Arial; font-weight: bold;">Edit Selected Word</h2>
</div>

<div class="container_column">

    <form action="/edit_word_{{word.id}}" method="POST">
        <div class="info_block">
            <p class="info_label">Word:</p>
            <p class="info_value">{{word.content}}</p>
        </div>

        <div class="info_block">
            <p class="info_label">Searched:</p>
            <input type="number" name="searched" value="{{word.searched}}" class="description_area">
        </div>

        <div class="info_block">
            <p class="info_label">Last search date:</p>
            <p class="info_value">{{word.last_search.strftime("%d %B %Y %H:%M")}}</p>
        </div>

        {% if word.last_as_word_of_literally is not none %}
            <div class="info_block">
                <p class="info_label">Last time as word of literally:</p>
                <p class="info_value">{{word.last_as_word_of_literally.strftime("%d %B %Y %H:%M")}}</p>
                <input type="checkbox" id="clear_last_as_word" name="clear_last_as_word">
                <label for="clear_last_as_word">Clear Last time as word of literally</label>
            </div>
        {% endif %}

        <div class="info_block">
            <p class="info_label">Source:</p>
            <p class="info_value">{{word.source}}</p>
            <p class="info_label">Added by:</p>
            <p class="info_value">{{word.added_by}}</p>
        </div>

        <div class="info_block">
            <p class="info_label">Definition:</p>
            <textarea id="definition" name="definition" rows="15" cols="150" class="description_area">{{word.definition}}</textarea>
        </div>

        <div class="button-container">
            <button type="submit" class="accept_button">Save Changes</button>
            <button type="button" class="back_button_v2" onclick="window.location='/menu'">Cancel</button>
        </div>
    </form>
</div>

<div class="user-dropdown-container">
    <button class="user-icon" onclick="toggleDropdown()">
        <i class="fas fa-user"></i>
    </button>

    <div id="user-dropdown" class="user-dropdown">
        <button onclick="window.location='/edit_account'">
            <i class="fas fa-user-edit"></i> Edit Account
        </button>
        <button onclick="window.location='/logout'">
            <i class="fas fa-sign-out-alt"></i> Log out
        </button>
    </div>
</div>

<script>
    document.getElementById("content").addEventListener("input", function () {
        const input = this.value.trim();
        const errorSpan = document.getElementById("wordError");

        if (input.length !== 5) {
            errorSpan.textContent = "Word must be exactly 5 characters.";
            errorSpan.style.display = "block";
        } else {
            errorSpan.textContent = "";
            errorSpan.style.display = "none";
        }
    });
    
    function toggleDropdown() {
        const dropdown = document.getElementById('user-dropdown');
        dropdown.classList.toggle('show');
    }
</script>

{% endblock %}
