{% extends 'base.html' %}

{% block head %}
<title>Un-Literally</title>
<style>
    .label-top-align {
        vertical-align: top;
        display: inline-block;
        margin-top: 7px;
    }
</style>
{% endblock %}

{% block body %}

<div class="name">
    <h1 style="text-align: center; color: #297400; font-family: Arial; font-weight: bold;">Un-Literally</h1>
    <h2 style="text-align: center; color: #297400; text-decoration: underline; font-family: Arial; font-weight: bold;">History</h2>
</div>

<div>
    <div class="container_column">
        <button class="back_button" onclick="window.location='/menu'" style="margin-left: 10px;">Back</button>
    </div>

    <hr>
    <div class="container_row">

        {% if events|length < 1 %}
            <h4 style="text-align: center;">There is no history saved</h4>
        {% else %}
            <table>
                <tr>
                    <th>Event title</th>
                    <th>Username</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                {% for event in events %}
                    <tr>
                        <td>{% if event.title|length > 150 %}
                            {{ event.title[:150] + ' ...' }}
                        {% else %}
                            {{ event.title }}
                        {% endif %}
                        </td>
                        <td>{{ event.user }}</td>
                        <td>{{ event.date.strftime("%d %B %Y %H:%M") }}</td>
                        <td>
                            <a href="/show/event_{{event.id}}">Show</a>
                            <br>
                            <a href="/delete/event_{{event.id}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

</div>

<div class="container_column">
    <button class="accept_button" onclick="window.location='/delete/events'" style="margin-left: 10px;">Clear events</button>
</div>

{% endblock %}
