{% extends 'base.html' %}

{% block head %}
    <title>Un-Literally</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
        }

        .menu_header h1 {
            color: #297400;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 10px;
            text-align: center;
        }
        .menu_header h2 {
            color: #297400;
            font-weight: bold;
            font-size: 28px;
            margin-bottom: 20px;
            text-decoration: underline;
            text-align: center;
        }

        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #e74c3c;
            color: white;
            border: none;
            padding: 12px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .logout-button i {
            margin-right: 5px;
        }

        .menu-header {
            font-size: 18px;
            font-weight: bold;
            color: #297400;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="menu_header">
        <h1>Un-Literally</h1>
        <h2>Menu</h2>
    </div>

    <div class="container_column">
        <div class="menu-group">
            <p class="menu-header">Words module</p>
            <button class="menu_button" onclick="window.location='/big_search'"><i class="fas fa-search"></i> Big search</button>
            <button class="menu_button" onclick="window.location='/add_word'"><i class="fas fa-plus"></i> Add Word</button>
            <button class="menu_button" onclick="window.location='/all_words'"><i class="fas fa-list"></i> All Words</button>
            {% if current_user.role_id == 1 %}
                <button class="menu_button" onclick="window.location='/all_proposals'"><i class="fas fa-th-list"></i> All Proposals</button>
            {% endif %}
        </div>

        {% if current_user.role_id == 1 %}
        <div class="menu-group">
            <p class="menu-header">Users module</p>
            <button class="menu_button" onclick="window.location='/all_users'"><i class="fas fa-users"></i> All Users</button>
            <button class="menu_button" onclick="window.location='/admin_register'"><i class="fas fa-user-plus"></i> Add User</button>
        </div>
        {% endif %}

        {% if current_user.role_id != 3 %}
        <div class="menu-group">
            <p class="menu-header">Analysis module</p>
            <button class="menu_button" onclick="window.location='/analysis_bar_plots_menu'"><i class="fas fa-chart-bar"></i> Plots</button>
            <button class="menu_button" onclick="window.location='/analysis_bubbles_menu'"><i class="fa-regular fa-circle-dot"></i> Bubbles</button>
        </div>
        {% endif %}

        {% if current_user.role_id == 1 %}
        <div class="menu-group">
            <p class="menu-header">Extra module</p>
            <button class="menu_button" onclick="window.location='/history'"><i class="fas fa-history"></i> History</button>
        </div>
        {% endif %}
    </div>

    <button class="logout-button" onclick="window.location='/logout'">
        <i class="fas fa-sign-out-alt"></i> Log out
    </button>
{% endblock %}
