{% extends 'base.html' %}

{% block head %}
<title>Test Master</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}

<div class="name">
    <h1 style="text-align: center; color: #297400; font-family: Arial; font-weight: bold;">Un-Literally</h1>
    <h2 style="text-align: center; color: #297400; text-decoration: underline; font-family: Arial; font-weight: bold;">{{ title }}</h2>
</div>

<div class="container_column">

    <div class="info_block">
        <p class="info_label">Word:</p>
        <p class="info_value">{{word.content}}</p>
    </div>

    <div class="info_block">
        <p class="info_label">Searched:</p>
        <p class="info_value">{{word.searched}}</p>
    </div>

    {% if word.last_search is not none %}
        <div class="info_block">
            <p class="info_label">Last search date:</p>
            <p class="info_value">{{word.last_search.strftime("%d %B %Y %H:%M")}}</p>
        </div>
    {% endif %}

    {% if word.last_as_word_of_literally is not none %}
        <div class="info_block">
            <p class="info_label">Last time as word of literally:</p>
            <p class="info_value">{{word.last_as_word_of_literally.strftime("%d %B %Y")}}</p>
        </div>
    {% endif %}

    {% if word.last_as_word_of_the_day is not none %}
        <div class="info_block">
            <p class="info_label">Last time as word of the day:</p>
            <p class="info_value">{{word.last_as_word_of_the_day.strftime("%d %B %Y")}}</p>
        </div>
    {% endif %}

    <div class="info_block">
        <p class="info_label">Source:</p>
        <p class="info_value">{{word.source}}</p>
        <p class="info_label">Added by:</p>
        <p class="info_value">{{word.added_by}}</p>
    </div>

    <div class="info_block">
        <p class="info_label">Definition:</p>
        <textarea id="content" name="content" rows="15" cols="150" class="description_area" disabled>{{word.definition}}</textarea>
    </div>

    {% if todays_last_as_word_of_literally and current_user.role_id != 3 %}
        <div class="container_column">
            <button class="accept_button" onclick="window.location='/word_of_literally/{{word.id}}'">Word of literally</button>
        </div>
    {% endif %}

    <div class="button-container">
        {% if current_user.role_id == 1 and previous_page != 'word_of_the_day' %}
        <button class="accept_button" onclick="window.location='/edit_word_{{word.id}}'">Edit</button>
        {% endif %}
        {% if previous_page == 'finder' %}
            <button class="back_button" onclick="window.location='/menu'" style="margin-left: 10px;">Back</button>
        {% elif previous_page == 'bubble' %}
            <button class="back_button" onclick="window.location='/top_10_latest_words_of_literally'" style="margin-left: 10px;">Back</button>
        {% elif previous_page == 'word_of_the_day' %}
            <button class="back_button" onclick="window.location='/menu'" style="margin-left: 10px;">Back</button>
        {% endif %}
    </div>
</div>

<div class="user-dropdown-container">
    <button class="user-icon" onclick="toggleDropdown()">
        <i class="fas fa-user"></i>
    </button>

    <div id="user-dropdown" class="user-dropdown">
        <button onclick="window.location='/edit_account'">
            <i class="fas fa-user-edit"></i> Edit Account
        </button>
        <button onclick="window.location='/logout'">
            <i class="fas fa-sign-out-alt"></i> Log out
        </button>
    </div>
</div>

<script>
    document.getElementById("content").addEventListener("input", function () {
        const input = this.value.trim();
        const errorSpan = document.getElementById("wordError");

        if (input.length !== 5) {
            errorSpan.textContent = "Word must be exactly 5 characters.";
            errorSpan.style.display = "block";
        } else {
            errorSpan.textContent = "";
            errorSpan.style.display = "none";
        }
    });
    
    function toggleDropdown() {
        const dropdown = document.getElementById('user-dropdown');
        dropdown.classList.toggle('show');
    }
</script>

{% endblock %}
